@model IEnumerable<string>
@{
    ViewData["Title"] = "Issue Type";
}
<div class="text-center">
    <h1>Issue Type</h1>
</div>
@using (Html.BeginForm("IssueSeverity", "User"))
{
    <div class="text-center">
        @foreach (var item in Model)
        {
            <p><input type="radio" name="Type" checked ="checked" value=@item>@item</p>
        }
        <input class="button" id="submit" type="submit" value="Submit" />
    </div>
}
