
@{
    ViewData["Title"] = "Issue Summary";
}
<div class=" = text-center">
    <h1>Issue Summary</h1>
</div>
@using (Html.BeginForm("Confirmation", "User"))
{
    <div class="text-center">
        <p><input type="text" name="summary" required placeholder="Type a summary of the issue here" /></p>
        <p><input class="button" id="submit" type="submit" value="Submit" /></p>
    </div>
}