<form #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>

    <h3>Local Issues</h3>
        <div *ngfor= "let issue of issues">
           <input type="radio" class="custom-control-input" value="issue.id" name="issueid" ngModel required>
           <label class="custom-control-label">{{issue.type}} {{issue.description}}</label>
        </div>
        <div>
            <input id="issue.id" type="radio" class="custom-control-input" value="issue.id" name="issueid" ngModel required>
            <label class="custom-control-label">New Issue</label>
         </div>
     
    <div *ngIf="isSubmitted && myForm.invalid">
        <p>Please select a value</p>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-danger btn-lg btn-block" >Submit</button>
    </form><!-- Form ends -->