@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Pop Pop Potholes</h1>
        <p>Popping potholes off the stack.</p>
        <p><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("LocalIssues", "User")'">Report an Issue</button></p>
        <p><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("index", "Admin")'">Administrator Login</button></p>
    </div>