
@{
    ViewData["Title"] = "MissionStatement";
}
<p>Prepare for construction!</p>
<p>And enjoy the obstruction!</p>
<p>To protect the municipality from potholization!</p>
<p>To unite the populus against degradration!</p>
<p>To denounce the evils of erosion and waste!</p>
<p>To fix all these problems with great haste!</p>
<p>Kyle!</p>
<p>Zach!</p>
<p>Pop Pop Potholes cleans cities overnight!</p>
<p>Sign up now and voice your slights!</p>
<p>Jeremy</p>
<p>That's right</p>
